<h1> Flexible Payment</h1>

<p>A <%= @year%> years loan of $<%= @loan%>, with an annual interest rate of <%= number_to_percentage(@rate,:precision =>3)%>, requires a monthly payment of
<%= 
100
%>
</p>