<h1>Root Calc</h1>

<form action="/square_root/results">
<label for="the_num">Enter a number</label>
<input id="the_num" type = "text" name="user_number">
<button>Calculate square root</button>
</form>